*{
	padding: 0;
	margin: 0;
}
body{
	
}
.main{
	display: flex;
	justify-content: space-between;
}
.left{
	background-color: #227973;
	width: 80.2%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	overflow: auto;
}
.right{
	width: 19.8%;
}
.content{
	background-color: #f0fffe;
	margin: 30px auto;
	width: 700px;
}
.content > div{
	cursor: pointer;
	padding: 15px 30px;
}
.modify{
	display: none;
}